<h1>Books Index</h1>
<ul>
  <% @books.each do |b| %>
    <li>TItle: <a href="/book/<%=b.id%>"><%=b.title%></a></br>
      Author: <%=b.author%></br>
      ISBN: <%=b.isbn%></li>
  <% end %>
</ul>
<p><a href="/books">Back to Books Menu</a></p>
