<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Library Management System</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href=/libraries/index>Libraries</a></li>
        <li><a href="/staff_members/index">Staff</a></li>
        <li class="active"><a href="/books/index">Books</a></li>
        <li><a href="/patrons/index">Patrons</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col-md-6 text-center panel panel-default margin-left-15">
    <h1>Book Index</h1>
    <h5>Select a book to view details or edit</h5>
    <ul class="list-unstyled">
      <% @books.each do |b| %>
        <li><a href="/book/<%=b.id%>"><%=b.title%></a>
        </br>Author: <%=b.author%></br> ISBN: <%=b.isbn%></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-5 text-center">
    <h4 style="padding-top: 70px; padding-bottom: 20px;">Aquire a new book? Add it here.</h4>
    <a class="btn btn-default" href="/book/new">Create New Book</a>
  </div>
</div>

<hr>
<footer class="footer">
<div class="row fixed-bottom">
  <div class="col-md-2 col-md-offset-2 text-center">
    <a href="/libraries/index">Libraries</a>
  </div>
  <div class="col-md-2 text-center">
    <a href="/staff_members/index">Staff Members</a>
  </div>
  <div class="col-md-2 text-center">
    <a href="/books/index">Books</a>
  </div>
  <div class="col-md-2 text-center">
    <a href="/patrons/index">Patrons</a>
  </div>
</div>
</footer>
