<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Library Management System</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href=/libraries>Libraries</a></li>
        <li><a href="/staff_members">Staff</a></li>
        <li><a href="/books">Books</a></li>
        <li><a href="/patrons">Patrons</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
  <h1>Libraries Menu</h1>
  <ul>
    <li><a href="/libraries/index">Libraries Index</a></li>
    <li><a href="/library/new">New Library</a></li>
    <li><a href="/">Go Back to main menu</a></li>
  </ul>
</div>
