<h1><%=@library.branch_name%></h1>
<p>Address: <%=@library.address%></p>
<p>Phone Number: <%=@library.phone_number%></p>
<p><a href="/library/<%=@library.id%>/edit">Edit Library</a></p>
<p><a href="/libraries/index">Back to Library Index</a></p>
