<h1>Libraries Index</h1>
<ul>
  <% @libraries.each do |l| %>
    <li><a href="/library/<%=l.id%>"><%=l.branch_name%></a>
      </br><%=l.address%></br><%=l.phone_number%></li>
  <% end %>
</ul>
<p><a href="/libraries">Back to Libraries Menu</a></p>
