<h1>Library Management System</h1>
<ul>
  <li><a href="/libraries">Libraries</a></li>
  <li><a href="/staff_members">Staff Members</a></li>
  <li><a href="/books">Books</a></li>
  <li>Patrons</li>
</ul>
