<div class="container-fluid">
  <div style="height:10px"> </div>

  <div>
    <div class="well">
      <h1 class="text-center">Library Management System</h1>
    <hr>
      <div>
        <div class="row">
          <div class="col-md-3 text-center">
            <div><a href="/libraries">Libraries</a></div>
            <div><a href="/libraries"><img src="/library-black.png"></a></div>
          </div>
          <div class="col-md-3 text-center">
            <div><a href="/staff_members">Staff Members</a></div>
            <div><a href="/staff_members"><img src="/staff-black.png"></a></div>
          </div>
          <div class="col-md-3 text-center">
            <div><a href="/books">Books</a></div>
            <div><a href="/books"><img src="/book-black.png"></a></div>
          </div>
          <div class="col-md-3 text-center">
            <div><a href="/patrons">Patrons</a></div>
            <div><a href="/patrons"><img src="/patrons-black.png"></a></div>
          </div>
        </div>
      </div>
    </div>
