<div class="container-fluid">
  <div style="height:10px"> </div>

  <div class="m-t-10 well">
    <div>
      <h1 class="text-center">Library Management System</h1>
    <div>
    <div class="row">
      <div style="height:50px"> </div>
      <div class="col-md-3 text-center">
        <div><a href="/libraries">Libraries</a></div>
        <div><img src="/library.png"></div>
      </div>
      <div class="col-md-3 text-center"><a href="/staff_members">Staff Members</a></div>
      <div class="col-md-3 text-center"><a href="/books">Books</a></div>
      <div class="col-md-3 text-center"><a href="/patrons">Patrons</a></div>
    </div>
  </div>
</div>
