<h1>Staff Members Menu</h1>
<ul>
  <li><a href="/staff_members/index">Staff Members Index</a></li>
  <li><a href="/staff_member/new">New Staff Member</a></li>
  <li><a href="/">Back to main menu</a></li>
</ul>
