<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Library Management System</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="/libraries">Libraries</a></li>
        <li class="active"><a href="/staff_members">Staff</a></li>
        <li><a href="/books">Books</a></li>
        <li><a href="/patrons">Patrons</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col-md-12 text-center">
    <div class="panel panel-default padding-10">
      <h1><%=@staff_member.name%></h1>
      <p>Email: <%=@staff_member.email%></p>
      <p>Library: <%=@library_name%></p>
      <a class="btn btn-default" href="/staff_members/<%=@staff_member.id%>/edit">Edit Staff Member</a>
    </div>
  </div>
</div>

<hr>
<footer class="footer">
  <div class="row fixed-bottom">
    <div class="col-md-2 col-md-offset-2 text-center">
      <a href="/libraries">Libraries</a>
    </div>
    <div class="col-md-2 text-center">
      <a href="/staff_members">Staff Members</a>
    </div>
    <div class="col-md-2 text-center">
      <a href="/books">Books</a>
    </div>
    <div class="col-md-2 text-center">
      <a href="/patrons">Patrons</a>
    </div>
  </div>
</footer>
