<h1>Staff Members Index</h1>
<ul>
  <% @staff_members.each do |sm| %>
    <li><a href="/staff_member/<%=sm.id%>"><%=sm.name%></a>
  <% end %>
</ul>
<p><a href="/staff_members">Back to Staff Members Menu</a></p>
