<h1><%=@staff_member.name%></h1>
<p>Email: <%=@staff_member.email%></p>
<p>Library: <%=@library_name%></p>
<p><a href="/staff_member/<%=@staff_member.id%>/edit">Edit Staff Member</a></p>
<p><a href="/staff_members/index">Back to Staff Members Index</a></p>
