.rounded {
  border-radius: 10px;
  background: #252839;
}

.image {
  color: #FFF;
  background-position: 50% 50% !important;
  background-size: cover !important;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(37, 40, 57, 1) 0%,
    rgba(37, 40, 57, 0.4) 100%), url('library-inside-cropped.jpg');
  min-height: 100vh;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  /*align-items: center;*/
  /*justify-content: center;*/
  flex-wrap: wrap;
  margin: 0;
  padding-top: 35px;
}

.flex-item {
  flex: 1;
  min-width: 10%;
  text-align: center;
  margin: 30px
}

.full-width {
  min-width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.margin-left-15 {
  margin-left: 15px
}

.center-div {
  padding: auto;
  margin: auto;
}

hr {
  border-color: #D3D3D3;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

/*------------------------------*\
    Grid System
\*------------------------------*/

.row,
.column {
    box-sizing: border-box;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.column {
    position: relative;
    float: left;
    display: block;
}

.column + .column {
    margin-left: 1.6%;
}

.column-1 {
    width: 6.86666666667%;
}

.column-2 {
    width: 15.3333333333%;
}

.column-3 {
    width: 23.8%;
}

.column-4 {
    width: 32.2666666667%;
}

.column-5 {
    width: 40.7333333333%;
}

.column-6 {
    width: 49.2%;
}

.column-7 {
    width: 57.6666666667%;
}

.column-8 {
    width: 66.1333333333%;
}

.column-9 {
    width: 74.6%;
}

.column-10 {
    width: 83.0666666667%;
}

.column-11 {
    width: 91.5333333333%;
}

.column-12 {
    width: 100%;
    margin-left: 0;
}

@media only screen and (max-width: 550px) {
    .column-1,
    .column-2,
    .column-3,
    .column-4,
    .column-5,
    .column-6,
    .column-7,
    .column-8,
    .column-9,
    .column-10,
    .column-11,
    .column-12 {
        float: none;
        width: auto;
    }

    .column + .column {
        margin-left: 0;
    }
}

/*------------------------------*\
    Styling
\*------------------------------*/

body {
    padding: 20px;
}

.column {
    /*background: #eee;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    /*color: #777;*/
    padding: 5px;
    min-height: 30px;
    text-align: center;
}

.row {
    margin-bottom: 10px;
}

.row:last-child {
    margin-bottom: 0;
}

.column .column {
    color: #eee;
    background: #333;
    border-color: #000;
}

.p {
  font-size: 14px;
  text-align: center;
  padding-top: 100px;
}

@media only screen and (max-width: 550px) {
    .row {
        margin-bottom: 0;
    }
    .column {
        margin-bottom: 10px;
    }
    .row:last-child .column:last-child {
        margin-bottom: 0;
    }
}
